aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
dataclasses-json
distro
Flask
frozenlist
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httpx
httpx-sse
idna
iniconfig
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
lz4
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy_extensions
numpy
openai
orjson
packaging
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
pluggy
propcache
protobuf
protoc-gen-openapiv2
py-cpuinfo
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pypdf
unstructured[pdf]
pillow
PyMuPDF
pdfplumber
camelot-py[cv]
pytesseract
pytest
pytest-asyncio
pytest-benchmark
pytest-codspeed
pytest-recording
pytest-socket
python-dateutil
python-dotenv
PyYAML
regex
requests
requests-toolbelt
rich
six
sniffio
SQLAlchemy
syrupy
tenacity
tiktoken
tqdm
typing-inspect
typing-inspection
typing_extensions
urllib3
vcrpy
Werkzeug
wrapt
yarl
zstandard