<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>BSI UII - Badan Sistem Informasi UII</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon" />
    <script src="/static/js/script.js" defer></script>
  </head>
  <body>
    <!-- Tombol untuk membuka/tutup chatbot -->
    <button class="chatbot-toggle-button">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>

    <div class="chatbot">
      <header>
        <h2>Chatbot | IT Support UII</h2>
        <!-- Tombol untuk menutup chatbot -->
        <span class="chatbot-close-button material-symbols-outlined"
          >close</span
        >
      </header>

      <!-- Container untuk pesan-pesan chat -->
      <ul class="chat-messages animated-text">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Halo Sobat UII 👋<br />Apakah Ada yang bisa saya bantu?</p>
        </li>
      </ul>

      <!-- Area input pesan -->
      <div class="chat-input-area">
        <textarea
          placeholder="Enter a message..."
          spellcheck="false"
          required
        ></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>

    <video autoplay muted loop class="video-background">
      <source src="/static/media/video.mp4" type="video/mp4" />
      Browser Anda tidak mendukung tag video HTML5.
    </video>
  </body>
</html>
